<div data-role="page"  data-theme="a">

<div data-role="panel" id="myPanel" class="main_nav" data-display="push"  data-dismissible="true" data-theme="b">
    <ul data-role="listview" class="a">            

            <li><a href="/app/Xyz" data-role="button" data-icon="home">
            Home</a> </li>
            <%= render :partial =>"partials/archivelist", :locals => { :articles => @articles } %>            
              </ul>
   </div><!-- /panel -->
      <div data-role="header" id="header" > 
            <a href="#myPanel" data-rel="panel" data-role="button" data-corners="true" data-iconpos="left" data-icon="bars" data-inline="true" data-theme="c" >daqwest</a> 
      <input name="password" id="search" value="" placeholder="look in index" type="search">
</div><!-- /header -->
      <div data-role="content" style="padding:0px;">
          <div style="border-bottom:1px solid #9cc;color:#9cc;padding-top:1%;padding-bottom:1%;padding-left:2%;">
              <div style="float:left;display:inline;"><img src = "http://www.valtorc.com/images/yootheme/slideshow_list/Article_icon.png" width="20px" height="20px" style="margin-top:1%;"></div>
              <div style="margin-left:25px;"><%=@query%></div>
              </div>
          </div>
<div data-role="content" style="padding:0px;">
      
      <ul data-role="listview" id = "algolist">
        <%begin%>     
        <% @ds.each do |d|%>
          <li data-icon="false">
          <a style="background-color:#fff;font-family:serif;font-weight:normal;"href="/app/Xyz/list?search=<%=d%>" style="white-space:normal;">
          <div style="margin-left:28px;">  
                     <%=d%></div>
                   </a></li>
               <%end%>
               <%rescue Exception => e%>
               There was some error at our server :(
               <%end%>
   
           
        </ul>
</div>
     
      <div data-role="footer"  data-position="fixed" >   
        <div data-role="navbar" data-iconpos="left">
          <ul>
            <li><a data-icon="grid" href="#">Description</a></li>
            <li><a data-icon="bars" href="#">Articles</a></li>
          </ul>
        </div><!-- /navbar -->
      </div><!-- /footer -->
      </div>

   
 
