<div data-role="page"  data-theme="a">

<div data-role="panel" id="myPanel" class="main_nav" data-display="push"  data-dismissible="true" data-theme="b">
    <ul data-role="listview" class="a">            

            <li><a href="/app/Xyz" data-role="button" data-icon="home">
            Home</a> </li>
            <li data-role="list-divider"><a href="/app/Article"> Archived Articles</a></li> 
              <% @articles.each do |article| %>
           
               <li>
                 <a href="<%= url_for :controller => :Article, :action => :show, :id => article.object %>">
                   <%= article.title %>
                 </a>
               </li>
           
              <% end %>                 
            </ul>
   </div><!-- /panel -->
<div data-role="header" > 
      <a href="#myPanel" data-rel="panel" data-role="button" data-corners="false" data-iconpos="notext" data-icon="bars" data-theme="c" style="background-color:#9ecf5e;border-color:#567133"></a>
      <h1>DQ</h1>
      <div class="orange" style="background-color:orange;float:left;width:100%;height:2px"></div>
   
</div><!-- /header -->
<div data-role="content" >
      <form id="foo" method="POST" action="<%= url_for  :action => :list %>">
        
                <input type="search" name="search" value="" />
             
        </form>
      </div>
</div>
