<div data-role="page"  data-theme="a">

<div data-role="panel" id="myPanel" class="main_nav" data-display="push"  data-dismissible="true" data-theme="b">
    <ul data-role="listview" class="a">            

            <li><a href="/app/Xyz" data-role="button" data-icon="home">
            Home</a> </li>
            <%= render :partial =>"partials/archivelist", :locals => { :articles => @articles } %>            
              </ul>
   </div><!-- /panel -->
<div data-role="header" id="header" > 
      <a href="#myPanel" data-rel="panel" data-role="button" data-corners="true" data-iconpos="left" data-icon="bars" data-inline="true" data-theme="c" >daqwest</a> 
      <input name="password" id="search" value="" placeholder="look in index" type="search">
</div><!-- /header -->
      <div data-role="content" style="padding:0px;">
      <div style="border-bottom:1px solid #9cc;color:#9cc;padding-top:1%;padding-bottom:1%;padding-left:2%;">Index</div>
      </div>
<div data-role="content" >
      
      <ul data-role="listview">
      <%@categories.each do |ct|%>
                        
      <li id = "catlist" data-icon="false">
            <a href="/app/Xyz/cat_list?cat=<%=ct%>">                  
            <img src="https://cdn2.iconfinder.com/data/icons/flaticons-stroke/16/notebook-3-256.png" width:"20px" height= "30px" style="padding:15px">
                <div style="margin-left:-45px;">
                <div><b><%=ct%></b></div>
                <div id="shortdesc">Contains- Bubble sort, selection sort, insertion sort etc...</div>
                <div id = "tags">Algorithms   33</div>
                </div>
            </a>
            </li>
  
              <%end%>
        </ul>
    
      </div>
