<div data-role="page"  data-theme="a">

<div data-role="panel" id="myPanel" class="main_nav" data-display="push"  data-dismissible="true" data-theme="b">
    <ul data-role="listview" class="a">            

            <li><a href="/app/Xyz" data-role="button" data-icon="home">
            Home</a> </li>
            <%= render :partial =>"partials/archivelist", :locals => { :articles => @articles } %>            
              </ul>
   </div><!-- /panel -->
<div data-role="header" data-theme="b" > 
      <a href="#myPanel" data-rel="panel" data-role="button" data-corners="false" data-iconpos="notext" data-icon="bars" data-theme="c" style="background-color:#9ecf5e;border-color:#567133"></a>
      <input name="password" id="search" value="" placeholder="look in index" type="search">
</div><!-- /header -->
<div data-role="content" >
      
      <ul data-role="listview" style="margin-top: 0px;margin-bottom:0px;" >
      <div id="deviders" >Index</div>
             <li id = "catlist" data-icon="false">
              <a href="/app/Xyz/cat_list?cat=Sequence sorting">
              <div style="display:inline;float:left"><img src="https://cdn2.iconfinder.com/data/icons/flaticons-stroke/16/notebook-3-256.png" width:"20px" height= "30px" style="margin-top:8px"></div>
                  <div style="margin-left:10px;float:left;display:inline;">
                  <div><b>Sequence sorting</b></div>
                  <div id="shortdesc">Contains- Bubble sort, selection sort, insertion sort etc...</div>
                  <div id = "tags">Algorithms   33</div>
                  </div>
              </a></li>
                          
          </ul>
</div>
     
      <div data-role="footer"  data-position="fixed" >   
        <div data-role="navbar" data-iconpos="left">
          <ul>
            <li><a data-icon="grid" href="#">Description</a></li>
            <li><a data-icon="bars" href="#">Articles</a></li>
          </ul>
        </div><!-- /navbar -->
      </div><!-- /footer -->
      </div>
