.ui-page-theme-a{
    background-color:#fff;
}

.ui-header {
    background-color:#fff;
    border-color:#eee;
}
div#deviders{
border-bottom:1px solid #9cc;color:#9cc;padding-top:1%;padding-bottom:1%;padding-left:2%;

}
div.ui-header .ui-input-search{
    margin-left:55%;
    width:30%;
    margin-top:0.2em;
    margin-bottom:0.2em;
    background-color:rgb(233,233,233);
    border-color:rgb(293,293,293);
    border-bottom:1px solid #9c9;
    box-shadow:0px 0px 0px;
    border-bottom-width:1px;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    background-color:#fff;
    color:grey;
    font-weight: 100;
}

input#search{
    font-family:chapparal-pro,serif;
}

div#shortdesc{
    color:grey;
    font-size:0.8em;
}
div.ui-content{
    font-family:serif;
}
div#tags{
    margin-top:5px;
    color:#ccc;
    font-size:0.8em;
}

li#catlist{
    border-top:0px;
    border-bottom:1px solid #eee;
    padding-bottom:10px;
}

.read_head h1{
  border-bottom: 1px solid #CDCDCD;
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 0.5em;
}
div.source{
  line-height: 0.9;
  margin-top: 12px;
  font-size: 0.9em; font-weight: lighter;color: #999;
  margin-bottom: 35px;
}
.read_content{
  font-family: chaparral-pro, serif;
  text-rendering: optimizelegibility;
  width:90%;margin-left:5%;
}
.read_text{
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.2em;
 
}